{% extends 'base.html.twig' %}

{% block title %}Nos voitures - {{ parent() }}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        {{ message }}
    {% endfor %}

    <h1>Nous sommes sur la page {{ page }}</h1>

    {# for en Twig est l'équivalent du foreach en PHP #}
    <ul>
    {% for car in cars %}
        {# {{ car.brand }} équivaut à {{ car['brand'] }} #}
        <li>{{ car.brand | upper | lower | upper | raw }}</li>
    {% else %}
        <li>Aucune voiture.</li>
    {% endfor %}
    </ul>

    {% for i in (1..10) | reverse %}
        <span style="background-color: {{ cycle(['grey', 'transparent'], i) }}">{{ i }}</span>, 
    {% endfor %}

    <br />

    {% for a in 'a'..'z' %}
        {{ a }}, 
    {% endfor %}
{% endblock %}
