{% extends 'base.html.twig' %}

{% block title %}Liste des produits
{% endblock %}

{% block body %}
	<div>
		{# Affiche toutes les variables présentes dans le fichier Twig actuelle #}
		{# dump() #}

		On est sur la page {{ page }}
	</div>

    <div class="container mt-5 mb-5">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <h1 class="text-center mb-5">Nos produits</h1>
        <div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Description</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, product in products %}
                        <tr>
                            <th scope="row">{{ key + 1 }} {{ loop.index }}</th>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.price }} €</td>
                            <td>
                                <a href="{{ path('product_show', { slug: product.slug }) }}" class="btn btn-secondary">Voir le produit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            La page précédente est {{ page - 1 }} <br />
            La page suivante est {{ page + 1 }} <br />

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <!-- Si la page actuelle est 1, on n'affiche pas ce lien -->
                    <li class="page-item {{ page <= 1 ? 'disabled' : '' }}">
                        <a class="page-link" href="{{ path('product', { page: page - 1 }) }}">Précédent</a>
                    </li>
                    {% for page in 1..pageNumber %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('product', { page: page }) }}">{{ page }}</a>
                        </li>
                    {% endfor %}
                    <!-- Si la page actuelle est la page max, on n'affiche pas ce lien -->
                    <li class="page-item {{ page >= pageNumber ? 'disabled' : '' }}">
                        <a class="page-link" href="{{ path('product', { page: page + 1 }) }}">Suivant</a>
                    </li>
                </ul>
            </nav>

            toto, titi et tata <br />
            toto, titi, tata et tutu <br />
            {# loop.last renvoie true si on est sur la dernière itération #}
            {# loop.revindex renvoie le nombre d'itérations restantes avant la fin #}
            {% for name in ['toto', 'titi', 'tata', 'tutu'] %}
                {{ name }}{% if not loop.last and loop.revindex != 2 %},{% endif %}{% if loop.revindex == 2 %} et{% endif %}
            {% endfor %} <br />
        </div>
    </div>
{% endblock %}
