<div style="background-color: {{ theme ?? 'transparent' }}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Discover</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                {# dump(app.request.get('_route')) #}
                {# On peut créer définir des variables dans Twig #}
                {% set route = app.request.get('_route') %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Accueil</a>
                    </li>
                    <li class="nav-item {{ route == 'product' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ path('product') }}">Produits</a>
                    </li>
                    <li class="nav-item {{ route == 'product_show' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ path('product_show', {slug: 'iphone-x'}) }}">iPhone X</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
