<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Discover{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            {{ include('_navbar.html.twig', { theme: 'lightgrey' }) }}
        </header>

        <div id="content">
            {% block body %}{% endblock %}
        </div>

        <div id="sidebar">
            {% block sidebar %}
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/product">Liste de produits</a></li>
                </ul>
            {% endblock %}
        </div>

        <footer class="bg-light py-5">
            <div class="container">
                <p class="text-center mb-0">Copyright &copy; {{ 'now' | date('Y') }}</p>
            </div>
        </footer>

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
